<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4"  id='signup'>
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">dersinipuanla.com'a kayıt olun.</h3>
			 			</div>
			 			<div class="panel-body">
			    		<%=form_for :user, url: {action: "createuser"}, html:{method:"post"} do |f|%>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <%=f.text_field :firstname, :value=>@user.name ,:readonly=>true,:class=>'form-control input-sm disabled'%>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<%=f.text_field :lastname,:value=>@user.surname ,:readonly=>true,:class=>'form-control input-sm disabled' %>
			    					</div>
			    				</div>
			    			</div>


                <div class='row'>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                  <p>Şimdi senden okul e-postanın @ kısmına kadarını girmeni istiyoruz, girdiğin e-postaya bir kod yollayacağız ve o kodu
                  bir sonraki sayfada bir seferliğine girmeni isteyeceğiz. Böylece o okulun öğrencisi olduğunu bileceğiz.</p>
                </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-md-6'>
                    <div class="form-group">
                			<%=f.text_field :email, :id=>'eposta', :class=>'form-control input-sm',placeholder:'okul e-postanın başı',:onkeydown=>'activate()' %>

                    </div>
                  </div>

			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<!--<%=f.text_field :university_id,:class=>'form-control input-sm', placeholder:'Uni Id'%>-->
                      <%= f.select :university_id, options_for_select(University.all.collect { |u|
                        ["@"+u.mail, u.id] }, 0), {:include_blank=> "Okulunu Seç"},
                         { id: 'uni_select',class:'form-control input-sm',onchange:"activate()" } %>

                    </div>
			    				</div>

			    			</div>
                <div class='row'>

			    			<%=f.submit 'Onayla',:class=>'btn btn-info btn-block disabled',:id=>'tus'%>

			    		<%end%>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
