<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/book.ico' %>
</head>

<nav class="navbar navbar-default" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">

                <%if current_user %>
                <a class="navbar-brand" style="font-weight:bold" href="/"><%="#{current_user.name.titleize} #{current_user.surname.titleize}"%>
                <%else%>
                <a class="navbar-brand " style="font-weight:bold" href="/">Dersini Puanla</a>
                <%end%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

                <ul class="nav navbar-nav" style="float:right">
                    <%if current_user %>
                    <li>
                    <a href="/addcourse">Ders Ekle</a>
                    </li>
                    <li>
                    <a href="/logout">Çıkış Yap</a>
                    </li>
                    <%else%>
                    <li>
                        <a href="/auth/facebook">Facebook ile giriş yap</a>
                    </li>
                    <li>
                        <a href="/auth/google_oauth2">Mail adresin ile giriş yap</a>
                        
                    </li>
                    <%end%>

                </ul>

            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>

<body>
<%=yield%>
</body>
</html>
