<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/book.ico' %>
</head>

<nav class="navbar navbar-default" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">

                <%if current_user %>
                <a class="navbar-brand" style="font-weight:bold" href="/"><%="#{current_user.name}"%>
                <%else%>
                <a class="navbar-brand " style="font-weight:bold" href="/">Dersini Puanla</a>
                <%end%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

                <ul class="nav navbar-nav navbar-right">
                    <%if current_user %>
                    <li>
                    <a href="/addcourse">Ders Ekle</a>
                    </li>
                    <li>
                    <a href="/logout">Çıkış Yap</a>
                    </li>
                    <%else%>
                        <% if flash[:alert]%>
                        <li> <a style="color:blue">Sadece Sabancı Mailin ile giriş yapabilirsin </a>
                        </li>
                        <%end%>
                    <li>
                        <a href="/auth/google_oauth2"><b>Mail adresin ile giriş yap</b></a>
                        
                    </li>

                    <%end%>

                </ul>

            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>

<body>
<%=yield%>
</body>
</html>
